.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/xcode/package.xcworkspace/xcuserdata/narberalgamma.xcuserdatad/UserInterfaceState.xcuserstate
.swiftpm/xcode/xcuserdata/narberalgamma.xcuserdatad/xcschemes/xcschememanagement.plist
